#tetris-grid {
  width: 600px;
}

.row {
  clear: left;
}

.col {
  width: 25px;
  height: 25px;
  background-color: grey;
  float: left;
}

.block {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: green;
}
